* {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body {
    font-family: 'CeraPro';
    background: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section1 .container {
    background: linear-gradient(97.77deg,
            rgba(245, 245, 245, 0.5) -23.46%,
            rgba(245, 245, 245, 0.5) 107.51%);
    font-size: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.section1 .left-side {
    display: inline-block;
    vertical-align: top;
    max-width: 560px;
    padding: 68px 0 85px 40px;
    white-space: normal;

    h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 7px;
    }

    h1 {
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #3D3D3D;

        span {
            color: #46a358;
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: #727272;
        margin-bottom: 44px;
    }
}

.section1 .right-side {
    display: inline-block;
    vertical-align: top;
    width: 640px;
    min-height: 450px;
    position: relative;
    text-align: right;
    white-space: normal;

    img {
        position: absolute;
        max-width: 100%;
        height: auto;
    }

    .bigImg {
        bottom: 0;
        left: 93px;
        width: auto;
        height: 100%;
    }

    .smallImg {
        bottom: 30px;
        left: 55px;
        width: 135px;
        height: 135px;
    }
}

.btn {
    border-radius: 6px;
    border: none;
    background: #46a358;
    padding: 11px 26px 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}




header {
    background: #fff;
    border-bottom: 0.3px solid #46A35880;
    margin-top: 30px;
    margin-bottom: 12px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 35px;
        height: 35px;
    }

    span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        color: #46a358;
    }
}

nav {
    &>ul {
        list-style: none;
        display: flex;
        gap: 50px;

        >li {
            position: relative;
            padding-bottom: 25px;

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color: #3D3D3D;
                position: relative;
            }

            &:after {
                content: "";
                width: 100%;
                transition: 0.3s;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                background: #46A358;
                opacity: 0;
            }

            &:hover::after {
                opacity: 1;
                width: 100%;
            }

            &:hover>ul {
                display: block;
            }
        }

        ul {
            display: none;

            a {
                font-family: "EncodeSansExpanded";
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 100%;

            }

            li {
                min-width: 188px;
                padding: 8px 14px;
                background: #edf6ee;
                position: relative;

                &:hover {
                    background: #1A712A;

                    >a {
                        font-weight: 700;
                        color: #fff;
                    }

                    svg {
                        color: #fff;
                        transform: scaleX(-1) translateY(-50%);
                    }

                    ul {
                        display: block;
                    }
                }

                svg {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #3D3D3D;
                }
            }
        }

        >li>ul {
            position: absolute;
            padding-top: 12px;
            z-index: 1;
            top: 100%;
            left: 50%;
            transform: translate(-50%);

            li {
                min-width: 188px;
                position: relative;
                padding: 8px 14px;
                background: #edf6ee;
            }
        }

        >li>ul>li>ul {
            z-index: 1;
            position: absolute;
            left: 100%;
            top: -300%;
            padding-left: 4px;

            li {
                min-width: 178px;
            }
        }
    }
}



.btnL.login {
    background: #46a358;
    color: #ffffff;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 6px;
    border: none;
    height: 35px;
    padding: 8px 16px;
}

.section2 .container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.section2 .left-side {
    width: 310px;
    min-height: 100%;

    .categories {
        box-sizing: border-box;
        width: 100%;
        height: 760px;
        background: #FBFBFB;
        padding: 16px 0 0 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            font-weight: 400;
            font-size: 15px;
            line-height: 40px;
            color: #3D3D3D;
            margin-left: 12px;
            cursor: pointer;
        }

        li.active {
            color: #46a358;
            font-weight: bold;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;

        }
    }



    img {
        width: 100%;
        height: auto;
    }

}

.section2 .right-side {
    min-height: 100%;
    width: calc(100% - 310px - 40px);
    margin-bottom: 90px;

    .filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .tabs {
            display: flex;
            gap: 36px;

            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #3D3D3D;

            }

            a.active {
                box-sizing: border-box;
                font-weight: 700;
                font-size: 15px;
                color: #46a358;
                border-bottom: 0.3px solid #46A35880;
            }


        }

        .sort {
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 70px 32px;

        .product {
            position: relative;
            width: calc((100% - 64px) / 3);
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: top;
            text-align: left;
            transition: box-shadow 0.3s ease;
            background: #fff;
            height: 350px;
            border-top: 1px solid transparent;

            .thumb {
                height: auto;
                position: relative;
                box-sizing: border-box;
                background: #FBFBFB;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                width: 100%;
                margin-bottom: 12px;

                img {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                    margin-bottom: 30px;
                }

                .img-btn {
                    position: absolute;
                    bottom: 12px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    gap: 8px;
                    opacity: 0;
                    transition: opacity 0.3s ease;

                    button {
                        border-radius: 4px;
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        transition: background 0.3s ease;
                        color: black;

                        &:hover {
                            color: #46A358;


                        }
                    }


                }
            }



            .name {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #3D3D3D;
                margin-bottom: 8px;
                padding: 0 4px;
            }

            .price {
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                color: #46A358;
                padding: 0 4px;
            }
        }


    }

    .product:hover {
        border-top: 1px solid #46A358;
        cursor: pointer;

        .thumb {
            .img-btn {
                opacity: 1;
            }
        }

    }

    .pagination {
        text-align: right;
        margin-top: 80px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-left: 8px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            text-align: center;
            color: #3D3D3D;
            transition: all 0.3s ease;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;


            &:hover,
            &.active {
                background: #46A358;
                color: #fff;
                border-color: #46A358;
            }
        }
    }
}

.section3 .container {
    display: flex;
    gap: 28px;
    margin-bottom: 136px;
}

.section3 .left-side,
.section3 .right-side {
    height: 250px;
    flex: 1;
    display: flex;
    align-items: center;
    background: hsl(0, 0%, 98%);
    box-sizing: border-box;

    .sub-left {
        max-width: 50%;

        img {
            width: 100%;
            height: auto;
            margin-top: -52px;
        }
    }

    .sub-right {
        box-sizing: border-box;
        padding: 36px 28px 0 0;
        text-align: right;

        h3 {
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            color: #3D3D3D;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #727272;
            margin-bottom: 24px;
            text-align: right;
            margin-left: -20px;
        }

        .btn {
            border-radius: 6px;
            border: none;
            background: #46a358;
            padding: 12px 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            text-transform: none;
            cursor: pointer;

        }

    }
}

.section4 .container {
    text-align: center;
}

.section4 .blogHeader {
    margin-bottom: 36px;

    h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        text-align: center;
        color: #3D3D3D;
        margin-bottom: 16px;

    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #727272;
    }
}

.section4 .blogCards {
    display: flex;
    gap: 44px;
    justify-content: center;

    .card {
        background: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        overflow: hidden;
        max-width: 268px;
        text-align: left;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .cardContent {
            padding: 8px 12px 12px 16px;

            .meta {
                display: block;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #46a358;
                margin-bottom: 4px;
            }

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                color: #3D3D3D;
                margin-bottom: 4px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #727272;
                margin-bottom: 8px;
            }

            a {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #3D3D3D;
                text-decoration: none;

                &:hover {
                    color: #46a358;
                }
            }
        }
    }
}