body {
    font-family: 'CeraPro';
    background: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section1 .container {
    background: linear-gradient(97.77deg,
            rgba(245, 245, 245, 0.5) -23.46%,
            rgba(245, 245, 245, 0.5) 107.51%);
    font-size: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.section1 .left-side {
    display: inline-block;
    vertical-align: top;
    max-width: 560px;
    padding: 68px 0 85px 40px;
    white-space: normal;

    h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 7px;
    }

    h1 {
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #3D3D3D;

        span {
            color: #46a358;
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: #727272;
        margin-bottom: 44px;
    }
}

.section1 .right-side {
    display: inline-block;
    vertical-align: top;
    width: 640px;
    min-height: 450px;
    position: relative;
    text-align: right;
    white-space: normal;

    img {
        position: absolute;
        max-width: 100%;
        height: auto;
    }

    .bigImg {
        bottom: 0;
        left: 93px;
        width: auto;
        height: 100%;
    }

    .smallImg {
        bottom: 30px;
        left: 55px;
        width: 135px;
        height: 135px;
    }
}

.btn {
    border-radius: 6px;
    border: none;
    background: #46a358;
    padding: 11px 26px 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}




header {
    background: #fff;
    border-bottom: 0.3px solid #46A35880;
    padding: 31px 0 18px;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 35px;
        height: 35px;
    }

    span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        color: #46a358;
    }
}

.nav {
    display: flex;
    gap: 50px;

    a {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #3D3D3D;
        text-decoration: none;
        position: relative;
    }

    a.active {
        font-weight: 700;
        color: #3D3D3D;
    }

    a.active::after {
        content: "";
        position: absolute;
        bottom: -27px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #46a358;
        border-radius: 1px;
    }
}

.btnL.login {
    background: #46a358;
    color: #ffffff;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 6px;
    border: none;
}

.section2 .container::after {
    content: "";
    display: table;
    clear: both;
}

.section2 .left-side {
    float: left;
    width: 310px;
    min-height: 100%;

    .categories {
        box-sizing: border-box;
        width: 100%;
        height: 760px;
        background: #FBFBFB;
        padding: 16px 0 0 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            font-weight: 400;
            font-size: 15px;
            line-height: 40px;
            color: #3D3D3D;
            margin-left: 12px;
            cursor: pointer;
        }

        li.active {
            color: #46a358;
            font-weight: bold;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;

        }
    }



    img {
        width: 100%;
        height: auto;
    }

}

.section2 .right-side {
    float: right;
    min-height: 100%;
    width: calc(100% - 360px);
    padding-left: 40px;

    .filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .tabs {
            display: flex;
            gap: 36px;

            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #3D3D3D;

            }

            a.active {
                box-sizing: border-box;
                font-weight: 700;
                font-size: 15px;
                color: #46a358;
                border-bottom: 0.3px solid #46A35880;
            }


        }

        .sort {
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
        }
    }

    .products {
        font-size: 0;
        margin: 0 -10px;

        .product {
            background: #FBFBFB;
            height: 300px;
            display: inline-block;
            width: calc(33.333% - 20px);
            margin: 0 10px 108px 10px;
            font-size: 14px;
            box-sizing: border-box;
            padding: 32px 4px 20px;
            vertical-align: top;
            text-align: left;

            img {
                display: block;
                margin: 0 auto 16px auto;
                max-width: 100%;
                height: auto;
            }

            .name {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #3D3D3D;
                margin-bottom: 8px;
            }

            .price {
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                color: #46A358;
            }
        }


    }

    .product:hover {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .pagination {
        text-align: right;
        margin-top: 80px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-left: 8px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            text-align: center;
            color: #3D3D3D;
            transition: all 0.3s ease;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
        

        &:hover,
        &.active {
            background: #46A358;
            color: #fff;
            border-color: #46A358;
        }
    }
    }
}